<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.zhijie.MailCodeFiller.agent</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/Mail Code Filler</string>
    <key>ProgramArguments</key>
    <array>
        <string>Contents/MacOS/Mail Code Filler</string>
        <string>--launch-agent</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
